public-hoist-pattern[]=*vue*
public-hoist-pattern[]=*react*
public-hoist-pattern[]=*nuxt*
public-hoist-pattern[]=*next*
public-hoist-pattern[]=*prisma*
public-hoist-pattern[]=*@keystone-6*
public-hoist-pattern[]=defu
public-hoist-pattern[]=ufo
public-hoist-pattern[]=quasar