{
  "singleQuote": true,
  "bracketSpacing": false,
  "semi": false,
  "trailingComma": "all",
  "jsxSingleQuote": false,
  "vueIndentScriptAndStyle": true,
  "printWidth": 100,
  "endOfLine": "lf"
}
